@charset "UTF-8";
html {scroll-behavior: smooth;}
/* site color setting */
:root {
    --theme-color: #F2C078;
    --accent-color: #EB5D2D;
    --text-color: #584A3D;
    --sub-color: #FAEDCA;
    --white-color: #FFF;
    --en-font: futura-pt, sans-serif;
    --ja-font: ryo-gothic-plusn, sans-serif;
}
/* overwrite reboot.css */
body {color: var(--text-color); font-family: var(--ja-font);}
a {color: var(--accent-color);text-decoration: none;}
a:hover {color: var(--accent-color);text-decoration: none;}
caption {color: var(--text-color);opacity: 0.9;}
input,textarea{border: none; outline: none;}

/* kerning setting */
body {-webkit-font-feature-settings: "palt","lnum"; font-feature-settings: "palt","lnum"; letter-spacing: .05em;}

/* common class */
.flex {display: flex;}
.flex-wrp {display: flex; flex-wrap: wrap;}
.flex-cnt {display: flex; justify-content: center;}
.flex-btw {display: flex; justify-content: space-between;}
.flex-ard {display: flex; justify-content: space-around;}
.flex-wrp-cnt {display: flex; flex-wrap: wrap; justify-content: center;}
.flex-wrp-btw {display: flex; flex-wrap: wrap; justify-content: space-between;}
.flex-wrp-ard {display: flex; flex-wrap: wrap; justify-content: space-around;}
.block {display: block;}
.inline {display: inline;}

/* ==========================
    TEMPLATE LAYOUT
========================== */
/* header */
#header {position: fixed;top: 0;left: 0;width: 100vw;z-index: 1000;}
.header-container {background-color: var(--sub-color);width: 100%;height: 50px;padding: 0 2.5vw;display: flex;justify-content: center;align-items: center;position: relative;z-index: 1001;}
.header-container .common-ttl-h1 {position: absolute;top: 0;left: 0;width: 100%;}
.hum-menu {position: absolute;right: 3vw;font-size: 1.5rem;padding: 8px;cursor: pointer;}
.main-nav {display: flex;width: 100vw;height: calc(100vh - 100px);color: var(--white-color);text-shadow: 0 3px 6px #00000015;background-color: var(--text-color);z-index: 1000;opacity: 1;}
.main-nav ul {font-family: var(--en-font);font-size: 1.5rem;list-style-type: none;margin: auto;padding: 0;text-align: center;}
.main-nav li {margin-top: 10px;}
.main-nav li a {color: var(--white-color);}
.main-nav li:first-child {margin: 0;}
/* footer */
footer .copyright {width: 100%;margin-bottom: 50px;background-color: var(--text-color);color: var(--white-color);font-family: var(--en-font);font-size: 0.75rem;text-transform: uppercase;text-align: center;}
.social-nav {width: 100vw; height: 50px; position: fixed; bottom: 0; background-color: var(--sub-color);z-index: 1001;}
.social-nav ul {height: 100%; margin: 0; padding: 0; list-style-type: none; display: flex; transform: translate3d(0, 0, 0); justify-content: space-around;}
.social-nav ul li {width: 50px; text-align: center;}
.social-nav a {display: block;}
.social-nav .fab, .social-nav .fas {font-size: 1.5rem;line-height: 2.2;}
/* layout */
main {padding: 50px 0;}
.container {padding: 0 2.5vw;margin: auto;}
.lower-page {background-color: var(--theme-color);padding: 10vh 0;min-height: 100vh;}
/* post page */

/* single page */
.about-content {background-color: var(--white-color);padding: 2vw;}
/* archive page */
.archive-content {background-color: var(--white-color);padding: 2vw;}
.archive-ttl-h2 {border-bottom: solid 3px var(--accent-color);}
.archive-content ul {flex-direction: column;}
.archive-content .thumbnail {width: 150px;height: auto;margin-right: 10px;}
/* pager */
.pagination {display: flex;align-items: center;justify-content: center;font-family: var(--en-font);font-style: oblique;font-size: 1rem;margin: 20px 0;position: relative;}
.pagination span, .pagination a {display: block;width: auto;margin: 4px;padding: 8px;border: 3px solid var(--accent-color);background-color: var(--white-color);text-decoration: none;text-align: center;line-height: 16px;}
.pagination .pager{width: 32px;}
.pagination a:hover, .pagination .current {color: var(--white-color);border-color: var(--accent-color);background-color: var(--accent-color);}
.pagination a.prev {margin-right: 16px;}
.pagination a.next {margin-left: 16px;}
.pagination span.page_num {display: none;}
/* 404 page */
.notfound-content {background-color: var(--white-color);padding: 2vw;}

/* ==========================
    END
========================== */

/* heading style */
.common-ttl-h1{margin: 0;height: 100%;font-size: 1.5rem;font-family: var(--en-font);text-transform: uppercase;text-align: center;line-height: 2;color: var(--accent-color);}
.common-ttl-h2 {width: 100%;font-family: var(--en-font);font-style: oblique;font-weight: 700;font-size: 6.25rem;text-transform: uppercase;text-shadow: 3px 3px 0 var(--sub-color);}
.common-ttl-h3 {font-family: var(--en-font);font-style: oblique;font-size: 1.5rem;text-shadow: 2px 2px var(--sub-color);}

/* ==========================
    TOP PAGE LAYOUT
========================== */

/* top-about */
#about {
    margin: 150px 0;
    position: relative;
}
#about::after {
    content: '';
    position: absolute;
    left:0;
    top: 0;
    transform: skewY(-2deg);
    transform-origin: bottom left;
    z-index: -1;
    width:100%;
    height:100%;
    background: var(--theme-color);
}
.about-description {margin-bottom: 2rem;}
.about-description .readmore-btn {margin: auto;}
.about-twitchtv {width: 100%;}
.twitchtv {
    width:100%;
    padding-bottom: 56.25%;
    height:0px;
    position: relative;
}
.twitchtv iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* top-blog */
#blog {margin: 100px 0;position: relative;}
#blog::after {
    content: '';
    position: absolute;
    left:0;
    top: 0;
    transform: skewY(2deg);
    transform-origin: bottom left;
    z-index: -1;
    width:100%;
    height:100%;
    background: var(--theme-color);
}
#blog .common-ttl-h2 {text-align: end;}
.blog-list ul {list-style: none; margin: 0;padding: 0;width: 100%;}
.blog-list .post-container {margin-top: 10px; padding: 10px; box-shadow: 0 3px 6px #00000015; background-color: var(--white-color);}
.blog-list .thumbnail img {width: 100%;height: auto;}
.blog-list .post-date {display: block; font-family: var(--en-font);font-style: oblique;font-size: 0.75rem;color: var(--theme-color);}
.blog-list .post-date::before {font-family: "Font Awesome 5 Free";content: '\f073';font-weight: 400;font-style: normal;padding-right: 2px;}
.blog-list .post-title {display: block;margin-top: -4px;}
.post-new::before{
    content: "NEW";
    font-family: var(--en-font);
    font-style: oblique;
    font-size: .75rem;
    margin-bottom: .25em;
    padding: .1em .2em;
    color: var(--white-color);
    background-color: var(--accent-color);
}
#blog .readmore-btn {margin-left: auto;}
.readmore {text-align: end;margin: 20px 0;}
.readmore-btn {
    display: block;
    width: 135px;
    font-family: var(--en-font);
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    border: solid 3px;
    padding: 5px 15px;
}
.readmore-btn:hover {
    color: var(--theme-color);
    border-color: var(--white-color);
    background-color: var(--white-color);
}
/* top-contact */
#contact .common-ttl-h2 {text-align: center;}
input,select,textarea,button{font-size: 100%; font-family: inherit;}
.contact-form-tbl {width: 100%;border-collapse: separate;border-spacing: 5px 10px;}
.contact-form-tbl tr {margin-top: 1rem;}
.contact-form-tbl th,.contact-form-tbl td {display: block;width: 100%;}
.contact-form-tbl th {font-weight: 400; border-left: solid 10px var(--accent-color); padding-left: .5em;background-color: var(--sub-color);}
.contact-form-tbl th span {font-size: .75rem;color: var(--accent-color);}
.contact-form-tbl td input {width: 100%; padding: 5px .5em;}
.contact-form-tbl textarea {width: 100%; height: 7em;resize: none;overflow: auto;}
.contact-from-check,.contact-from-send {text-align: center;margin: 10px 0;}
.contact-from-send input {font-family: var(--en-font);font-style: oblique;text-transform: uppercase;color: var(--theme-color);background-color: var(--white-color);border: solid 3px;padding: 5px 45px;}

/* ==========================
    END
========================== */

/* lower-page */
/* about */
.lower-page .about-social{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lower-page .about-social a {
    display: block;
}